@define {
    gridWidth:          1200;   /* Gesamtbreite des Container */
    columnCount:        12;     /* Anzahl der Spalten */
    gutterColumnRatio:  0.4;    /* Verhältnis Gutter- zu Spalten-Breite */
}