/*.............................................................................
    BooZii - A responsive bootstrap
    Package: Theme moonwalk
    Description: Theme file fpr BooZii
    Author: Joe Ray Gregory @ borowiakziehe KH

    colors:
        darkgrey: #323436
        white: #fff
        lightgrey: #cfcfcf

    font Hint:
        Type: em
        Baseline: 10px
        Used fonts: Arial
.............................................................................*/
@import url('vendors/slider/style.css');

body {
    background-color: #ebebeb;
    color: #323436;
}

#header {
    border-top: 2.3em solid #db0028;
    background-color: #fff;
    padding: 3em 0;
    box-shadow: inset 0px 0px 10px 1px #cfcfcf;
}

/* Content */

h1 { font-size: 3.8em; lin-height: 3.5em; background-color: #fff; padding: 2em; }
h2 { font-size: 1.8em; }
p { font-size: 1.4em; }


#header {
    margin-bottom: 3.8%;
}

#nav-main {
    padding-top: 3em;
    float: right;
}

.item {
    margin-right: 1em;
}

.link {
    background-color: #323436;
    border-radius: 0.5em;
    color: #fff;
    font-size: 1.8em;
    padding: 0.5em;
}

.submenu ul {
    background-color: #323436;
    width: 200px;
}

.submenu ul a {
    color: #fff;
    font-size: 1.5em;
    padding: 0.5em;
}

#content [class^=u_] {
    background-color: #fff;
    margin-bottom: 3.8%;
    padding: 1em;
}

iframe {
    height: 350px;
}

.bz-tooltip {
    cursor: help;
    color: #db0028;
}

.tip-wrap {
    background-color: #323436;
    color: #fff;
    padding: 1.2em;
    border-radius: 0.5em;
    width: 20%;
}

.tip-title {
    font-size: 1.6em;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
}

.tip-text {
    font-size: 1.4em;
}

.button.red {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    background: -moz-linear-gradient(
        top,
        #fa5f7b 0%,
        #db0028 25%,
        #bd0023 50%,
        #a80a27 75%,
        #db0028);
    background: -webkit-gradient(
        linear, left top, left bottom,
        from(#fa5f7b),
        color-stop(0.25, #db0028),
        color-stop(0.50, #bd0023),
        color-stop(0.75, #a80a27),
        to(#db0028));
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    border: 0px solid #171717;
    -moz-box-shadow:
        0px 1px 3px rgba(000,000,000,0),
        inset 0px 0px 10px rgba(219,0,40,0.3);
    -webkit-box-shadow:
        0px 1px 3px rgba(000,000,000,0),
        inset 0px 0px 10px rgba(219,0,40,0.3);
    box-shadow:
        0px 1px 3px rgba(000,000,000,0),
        inset 0px 0px 10px rgba(219,0,40,0.3);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0.4),
        0px 1px 0px rgba(255,255,255,0);
}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    Global Styles only for resolutions under 1140px
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


@media only screen and (max-width: 1139px) {

}
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    Global Styles only for resolutions till 1024spx
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


@media only screen and (max-width: 1024px) {

}
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    Styles for tablets at portrait mode and browsers lower than 768px
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@media only screen and (max-width: 768px){

}
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/



/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    Only for browsers lower than 480px width and smartphones
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@media only screen and (max-width: 768px) {

    h1{
        font-size: 2.5em;
        line-height: 1.2em;
        padding: 1em;
    }

    .nav-h {
        background: url('img/icon_nav.png') no-repeat #323436 50% 50%;
        width: 4em;
        height: 4em;
        position: absolute;
        right: 2em;
        top: 5em;
        border-radius: 5px;
    }

    #nav-main {
        position: absolute;
        left: -9999em;
        background-color: #323436;
        padding: 0;
        width: 300px;
        top: 0px;
        border-radius: 5px;
    }

    .nav-h:hover #nav-main {
        left: auto;
        right: 34px;
    }

    .item {
        clear: both;
        width: 100%;
    }

    .link {
        background: none;
        border-radius: 0em;
        color: #fff;
        font-size: 1.8em;
        padding: 0em;
        display: block;
        border-bottom: 1px solid #494b4d;
        padding: 10px 30px;
    }

    #nav-main .submenu ul {
        position: static;
        width: 100%;
    }

    #nav-main .submenu li {
        background-color: #54585b;
    }
    #nav-main .submenu li > a {
        padding-left: 3em;
        background-color: #54585b;
    }


}
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    Styles for tablets at portrait mode and browsers lower than 320px
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@media only screen and (max-width: 320px){

    #nav-main {
        width:200px;
        position: relative;
    }

    #nav-main .submenu ul {
        width: 100%;
    }

    h1{
        font-size: 2em;
        line-height: 1.2em;
        padding: 1em;
    }

}
