/*.............................................................................
    Package: Core
    Description: This is the core base of booZii
    Author: Joe Ray Gregory
    Lisence: LGPL
.............................................................................*/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    Global Base elements
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
body                            { font-size: 10px; }
img, object, embed              { max-width: 100%; }
img                             { height: auto; }
iframe, video                   { width: 100%; }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    Layout Helpers
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.centerize                      { margin: 0 auto; }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    Gui Helpers
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

[class~="icon-"]                { background: url('../img/sprite.gif') no-repeat transparent;  }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    Misc Helpers
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.stretch                        { width: 100%; float: left; }