/*.............................................................................
    Package: Menu
    Description: Menu Helpers to quickly build up Menues
    Author: Joe Ray Gregory
    Lisence: LGPL
.............................................................................*/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    Global Menu Class
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.nav-h:after                   {content: "."; display: block;height: 0;clear: both;visibility: hidden;}
.nav-h li                      { float: left; }
.nav-h a                       { display: block; text-decoration: none; }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
    Method Skyline for horizontal menu
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.nav-h > ul                    { list-style: none; margin: 0; padding: 0; }